/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 
 *=require_self
 */

  body{
    background: rgb(0,117,190);
    background: -moz-linear-gradient(0deg, rgba(0,117,190,1) 0%, rgba(213,161,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,117,190,1) 0%, rgba(213,161,0,1) 100%);
    background: linear-gradient(0deg, rgba(0,117,190,1) 0%, rgba(213,161,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0075be",endColorstr="#d5a100",GradientType=1);
   
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
